nav ul li {
	font-size: 3em;
	display: inline;
	width: 100%;
	margin: 10px;

}
body{
	background-color: #6E6E6E;
	font-size: 2em;
	font-family: 'Inconsolata', monospace;
	margin: 20px;

}
img{
	margin: 5px;
	border: 3px solid black;

}
.topimg{
	float: right;

}
.sidebar {
	font-family: "roboto", sans-serif;
	font-size: 1.7em;
	float: right;
	text-align: right;
	margin: 5px;

}
.sidebar li {
	margin-top: 10px;
	list-style: none;
}

.column {
    float: left;
    width: 26%;
    padding: 10px;
    background-color: #BDBDBD;
    border: 3px solid black;
    margin: 7px;
    height: 70vh;

}
.columnbild {
	margin: 10px;

}
.row:after {
    content: "";
    display: table;
    clear: both;

}
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}
p {
	margin: 10px;
	float: left;

}
a {
	text-decoration: none;
	font-family: "roboto", sans-serif;
	border: 3px dotted black;
	color: #D8D8D8;
	background-color: #2E2E2E;

}
a:hover {
	border: 3px solid black;
	color: #E6E6E6;
	background-color: #2E2E2E;

}